doctype
html(lang='us-US', prefix='dcterms: http://purl.org/dc/terms/')
  head(itemscope, itemtype='http://schema.org/WebSite')
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@CARPEmeetup')
    meta(name='twitter:title', content='Columbus Arduino/Raspberry Pi Meetup - Arduino Code')
    title(itemprop='name') Columbus Arduino/Raspberry Pi Meetup - Arduino Code
    link(rel='canonical', itemprop='url', href='http://carpemeetup.github.io/arduino_code/')
    link(rel='stylesheet', href='/main.css')
  body
    != yield